@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <form asp-controller="Home" asp-action="Add">
            <div class="form-group">
                <input type="submit" value="Crear persona" class="btn btn-success" />
            </div>
        </form>
    </div>
